<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mantapbetul{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.css" rel="stylesheet" />
    
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js" integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx-ext-remove-me@2.0.0/remove-me.js"></script>
</head>
<body class="bg-[#181818]">
    
    {% include "header.html" %}
    
    <main class="bg-[#181818]  flex flex-col">
        {% block content %}{% endblock %}
    </main>
    

    <div id="modal-container"></div>
    
    <div id="jakiro" class="fixed top-5 inset-x-0 z-50 flex flex-col gap-2 pointer-events-none items-center"></div>
    <script>
    htmx.logAll();
    

    </script>
    

</body>
</html>