{% extends "base.html" %}

<!-- Ngisi slot title -->
{% block title %}{% endblock %}

<!-- Ngisi slot content -->
{% block content %}
    <section class="sticky top-[73px] z-40 w-full bg-[#181818] flex justify-end items-center gap-2 px-6 md:px-8 py-4">
            <div class="flex items-center">
            <button hx-get="/addmodal" hx-target="#modal-container" hx-swap="innerHTML" hx-trigger="click" type="button" class="cursor-pointer bg-[#181818] border border-[#343434]  rounded-xl p-2 px-2 hover:bg-[#292929]">
                <span class="text-sm font-semibold text-[#dfdfdf]">Manage</span>

            </button>
            
            </div>
    </section>
    
    
    

    <div class="grid grid-cols-2 md:grid-cols-4 xl:grid-cols-8 gap-4 p-10">

        {% for object in tenObjects %}
        {% include "components/models_index.html" %}
        {% endfor %}
       
{% endblock %}