{% extends "base.html" %}

<!-- Ngisi slot title -->
{% block title %}{% endblock %}

<!-- Ngisi slot content -->
{% block content %}
    <section class="sticky top-[73px] z-40 w-full bg-[#181818] flex justify-end items-center gap-2 px-6 md:px-8 py-4">
            <div class="flex items-center">
            <button hx-get="/addmodal" hx-target="#modal-container" hx-swap="innerHTML" hx-trigger="click" type="button" class="cursor-pointer bg-[#181818] border border-[#343434]  rounded-xl p-2 px-2 hover:bg-[#292929]">
                <span class="text-sm font-semibold text-[#dfdfdf]">Manage</span>

            </button>
            
            </div>
    </section>
    

    <div class="grid grid-cols-3 md:grid-cols-6 gap-4 p-10">
        <section class="rounded-2xl overflow-hidden border border-[#383838] bg-[#222222]">
            <!-- Container Gambar -->
            <div class="relative w-full aspect-square bg-white flex items-center justify-center">
                <!-- Gambar Utama -->
                <img 
                src="C:/Users/haris/Downloads/521001018_18146195596400489_4208767049424989618_n.jpg" 
                alt="Model Preview" 
                class="w-full h-full object-contain"
                />

                <!-- Tombol Bintang / Favorite (Kanan Atas) -->
                <button class="absolute top-2.5 right-2.5 w-8 h-8 bg-black/40 hover:bg-black/60 backdrop-blur-md rounded-lg flex items-center justify-center text-white/90 transition cursor-pointer">
                <svg class="w-4 h-4" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.382-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z" />
                </svg>
                </button>
            </div>

            <!-- Container Info Bawah -->
            <div class="p-3.5 space-y-3 bg-[#2a2a2a]">
                <!-- Judul & Ikon Info -->
                <div class="flex items-center justify-between">
                <h3 class="text-[#dfdfdf] font-semibold">yy krea</h3>
                <button class="text-neutral-400 hover:text-white transition cursor-pointer">
                    <svg class="w-5 h-5" fill="none" stroke="currentColor" stroke-width="1.8" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z" />
                    </svg>
                </button>
                </div>

                <!-- Dropdown Versi -->
                <div class="flex items-center">
                <button class="flex items-center space-x-1.5 bg-[#404040] text-neutral-300 text-xs font-medium px-3 py-1.5 rounded-lg border border-transparent hover:border-[#28a99e] transition-colors cursor-pointer">
                    <span>v4-7000</span>
                    <svg class="w-3.5 h-3.5 text-neutral-400" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                    </svg>
                </button>
                </div>
            </div>
        </section>
    </div>
{% endblock %}